@charset "ISO-8859-1";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

html, body {
  	background: url(img4.jpg) no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	box-sizing: border-box;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;

    align-items: center;
  }
  i{
    padding-right: 10px;
  }
  .container{
    background: #c7ecee;
    border-radius: 8px;
  }

.col-md-6{
	text-align: center;
}

.doch {
	text-align: center;
	top:50%;
	transform: translateY(-20%);
}
.doch h1{
	font-size:500%;
	text-transform:uppercase;
	text-shadow: 1px 1px 15px #000;
}
.doch h2{
	font-size:200%;
	font-width:500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

