@charset "ISO-8859-1";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

html, body {
  	background: url(img4.jpg) no-repeat;
  	background-size: cover;
  	box-sizing: border-box;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;

    align-items: center;
  }
  i{
    padding-right: 10px;
  }
  .container{
    background: #c7ecee;
    border-radius: 8px;
  }
.col-md-6{
	background: #81ecec;
	border-radius: 10px;
	text-align: center;
}

.tab{
	border: 1px solid #636e72;
	float: center;
	border-radius: 10px;
	text-align: center;
}
.tab table{
	box-sizing: border-box;
	padding: 10px;
}
