<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        
      <link rel="stylesheet" href="CSS/style5.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
<body>
<!--  Jumbotron  -->

	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h3 align="center">Request Advice:</h3>
					<hr>
					<table class="table table-striped" id="mydatatable">
						<thead class="thead-dark">
							<tr>
							    <th scope="col">Num</th>
								<th scope="col">patient name</th>
								<th scope="col">id_patient</th>
								<th scope="col">Advice</th>
								<th scope="col">Advice date</th>
							    <th scope="col">Answer</th>
							    <th scope="col">Option</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Lv:${listadvices}">
								<td><span th:inline="text">[[${listadvices.indexOf(Lv)+1}]]</span></td>
								<td><span th:inline="text">[[${Lv.patient.getName_Patient()}]] [[${Lv.patient.getLastname_Patient()}]] </span></td>
								<td><span th:inline="text">[[${Lv.patient.getId_Patient()}]]</span></td>
								<td><span th:inline="text">[[${Lv.adv}]]</span></td>
								<td><span th:inline="text">[[${Lv.advD}]]</span></td>
								<td><a th:href="@{/answeradv(id=${Lv.id_adv})}"><button type="button" class="btn btn-success">Send</button></a></td>
								<td><a th:href="@{/deleteAdvd(id=${Lv.id_adv})}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
							</tr>
						</tbody>
					</table>
					<br>
					<hr>
					<h3 align="center">Response Advice:</h3>
					<hr>
						<table class="table table-hover" id="mydatatable1">
						<thead class="thead-dark">
							<tr>
							    <th scope="col">id-patient</th>
								<th scope="col">patient name</th>
								<th scope="col">id-advice</th>
								<th scope="col">Advice</th>
							    <th scope="col">Answer</th>
							    <th scope="col">Option</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Lns:${listanswer}">
								<td><span th:inline="text">[[${Lns.getAdvice().patient.getId_Patient()}]]</span></td>
								<td><span th:inline="text">[[${Lns.advice.patient.getName_Patient()}]] [[${Lns.advice.patient.getLastname_Patient()}]] </span></td>
								<td><span th:inline="text">[[${Lns.advice.getId_adv()}]]</span></td>
								<td><span th:inline="text">[[${Lns.advice.adv}]]</span></td>
								<td><span th:inline="text">[[${Lns.ans}]]</span></td>
								<td><a th:href="@{/deleteAdvd(id=${Lns.id_answer})}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
							</tr>
						</tbody>
					</table>
					
				</div>
				<div class="col-md-1"><a th:href="@{/back}"><button type="button" class="btn btn-dark">Go Back</button></a></div>
			</div>
		</div>
	</div>
</body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
     $(document).ready(function() {
        $('#mydatatable').DataTable();
      } );
     $(document).ready(function() {
         $('#mydatatable1').DataTable();
       } );
    
    </script>
  </body>
  
</html>