<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="CSS/style3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<!-- NAVBARR -->

	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">

				<a class="navbar-brand" href="#"><i class="fas fa-tooth"></i>Dental
					Clinic</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/patienthomee"><i
								class="fas fa-home"></i>Home <span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/profilepatient"><i class="fas fa-user-alt"></i>Profile</a></li>
						<li class="nav-item dropdown active"><a class="nav-link dropdown-toggle"
							href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-users-cog"></i>Services</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						
									<a class="dropdown-item active"
										href="/patientreservation"><i
											class="fas fa-calendar-check"></i>Reservation</a>
											<div class="dropdown-divider"></div>
									<a class="dropdown-item"
										href="/patientreservationList"><i class="fas fa-list"></i>ReservationListe</a>
							</div>
						<li class="nav-item"><a class="nav-link "
							href="/patientlogout"><i class="fas fa-sign-out-alt"></i>Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


	</div>
	<!--  Jumbotron  -->

	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6">

                   <h2>Reservation :</h2><br>
                   <p class="lead">First step choose a day to check the available periods</p> 
                   <h4>
						<b>Date:</b>
					</h4>
					
					
					<form action="/rechercherDay">
						<input type="date" name="date"></input> 
						
						<button type="submit" class="btn btn-light">Check</button>
					</form>
					
                   <br><p class="lead">Second step choose the the period and the treatment you want to book a reservation </p> 
                   <h4>
						<b>Available Periods :</b>
					</h4>


					<form action="/reserver" method="post">

						<table>
							<tr th:if="${day.getPeriods()==null && day.getDate()==null }">
								<td colspan="4">choose a day first</td>
							</tr>
							
							<tr th:if="${day.getPeriods()==null && day.getDate()!=null }">
								<td colspan="4">You can't book a reservation on a day already past</td>
							</tr>
							
							<tr th:if="${#lists.size(periods)==0 && day.getDate()!=null}">
								<td colspan="4">No Period is available for this day</td>
							</tr>
							<tr th:each="periodd:${periods}">

								<td>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="periodid"
											id="exampleRadios1" th:value="${periodd.getPeriodID()}">
										<label class="form-check-label" for="exampleRadios1"
											th:text="${periodd.getTime()}"> Default radio </label>
									</div>
								
							</tr>

						</table>
						<br>
						<h4>
							<b>Type of Treatment :</b>
						</h4>
						<select name="traitment" class="form-control" id="sel1">
							<option>Descaling.</option>
							<option>Orthodontic appliances dental appliances.</option>
							<option>Tooth extraction.</option>
							<option>The crowns.</option>
							<option>Dental prostheses.</option>
							<option>Sealing and composites.</option>
						</select> 
						<br>
						
						<button type="submit" class="btn btn-secondary">Reserve</button>
					</form>
				</div>
				<div class="col-md-1">
					<div style="border-left: 1px solid #000; height: 500px"></div>
				</div>
				<div class="col-md-5">
					<h2>CONTACT INFORMATION</h2>
					<br />
					<h4>
						<b>OUR SCHEDULES</b>
					</h4>
					<p class="lead">
						Monday: 9:00 a.m to 5:00 p.m<br />Tuesday: 7:30 a.m to 7:00 p.m<br />
						Wednesday: 9 a.m to 7 p.m<br />Thursday: 7:30 a.m to 5:00 p.m<br />
						Friday: 7:30 a.m to 2:00 p.m
					</p>
					<br />
					<h4>
						<b>ADRESSE</b>
					</h4>
					<p class="lead">
						7272 Maurice Duplessis, Suite 100<br /> Montréal
						(Rivière-des-Prairies)<br /> Québec H1E 6Z7
					</p>
					<br />
					<h4>
						<b>PHONE</b>
					</h4>
					<p>(+212)5.87.87.56.56</p>

					
				</div>
			</div>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>